# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Outputs
triadix-run/
*.png

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Env
.env